<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
<div class="weatherWidget">
    <div class="mainBox widgetLeftCol expanded">
        <div class="mainBoxContent">
            <div class="mainParams">
                <div class="temperature">
                    <div class="temp">{{temperature}}<span class="deg">°</span></div>
                    <div class="feelTemp">
                        <span class="feelTempLabel">Odczuwalna:</span>
                        <span class="feelTempValue">{{temperature}}°C</span>
                    </div>
                </div>
                <div class="forecast">
						<span class="iconHolder">
							<!--<img src="../5.png"-->
                                 <!--class="svg">-->
						{{cityName}}
                        </span>
                    <div class="forecastDesc">{{description}}
                    </div>
                </div>
            </div>

            <div class="weatherParams">
                <ul>
                    <li>
                        <span class="restParamLabel">Deszcz</span>
                        <span class="restParamValue">{{rain}} mm</span>
                    </li>

                    <li>
                        <span class="restParamLabel">Wiatr</span>
                        <span class="restParamValue">{{wind}} km/h <span
                                class="windDirectionArrow"
                                style="-webkit-transform:rotate(164deg);transform:rotate(164deg)"><svg><use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="#wind_arrow" x="0"
                                y="0"></use></svg></span></span>
                    </li>

                    <li>
                        <span class="restParamLabel">Ciśnienie</span>
                        <span class="restParamValue">{{pressure}} hPa</span>
                    </li>

                    <li>
                        <span class="restParamLabel">Zachmurzenie</span>
                        <span class="restParamValue">{{cloudiness}}%</span>
                    </li>

                    <li>
                        <span class="restParamLabel">Wilgotność</span>
                        <span class="restParamValue">{{humidity}}%</span>
                    </li>

                    <li>
                        <span class="restParamLabel">Śnieg</span>
                        <span class="restParamValue">{{snow}} mm</span>
                    </li>

                </ul>

            </div>

            <div class="weatherParamsTrigger expandArrow"></div>
        </div>

        <div class="mainBoxBgHolder "
             style="background-image:url(../../4_5_7.jpg);"></div>
    </div>
</div>
</body>
</html>
